@page
@model aboutModel
@{
    ViewData["Title"] = "About";
    string topic = "ASP.NET Core Web Application";
}
<h1>@ViewData["Title"]</h1>
<ul>
    <li>André Martins - 200550940</li>
    <li>Daniel Montenegro Guerrero - 200549480</li>
    <li>Hidetoshi Okada - 200555326</li>
    <li>Saipetch Damrongvongsawang - 200546901</li>
</ul>
<p>We are learning @topic now!</p>